{% extends "game/base.html" %}

{% block title %}Admin Dashboard | ArtGuessr{% endblock %}

{% block content %}
<section class="admin-card">
    <div class="admin-top-row">
        <a href="{% url 'home' %}" class="home-icon-link">⌂</a>
        <h2 class="admin-title">Admin Dashboard</h2>
    </div>

    <div class="admin-links">
        <a href="{% url 'manage_users' %}" class="admin-link-box">Manage Users</a>
        <a href="{% url 'manage_artworks' %}" class="admin-link-box">Manage Artworks</a>
    </div>
</section>
{% endblock %}