{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ArtGuessr{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
</head>
<body>

    {% block header %}
<header class="site-header">
    <div class="page-wrapper nav-bar">
        <h1 class="site-logo">
            <a href="{% url 'home' %}">ArtGuessr</a>
        </h1>

        {% block nav %}
        <nav class="site-nav">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'play' %}">Play</a>
            <a href="{% url 'leaderboard' %}">Leaderboard</a>
            <a href="{% url 'history' %}">History</a>
        </nav>
        {% endblock %}
    </div>
</header>
{% endblock %}

    <main class="page-wrapper">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/game.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>