{% extends "game/base.html" %}
{% load static %}

{% block title %}Home | ArtGuessr{% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block content %}
<section class="home-card">
    <div class="home-logo-wrapper">
    <img src="{% static 'images/logo.png' %}" alt="ArtGuessr Logo" class="home-logo-img">
</div>

    <div class="home-buttons">
    <a href="{% url 'register' %}" class="btn-main">Create Account</a>
    <a href="{% url 'leaderboard' %}" class="btn-main">Leaderboard</a>
    <a href="{% url 'login' %}" class="btn-main">Log In</a>
    <a href="{% url 'history' %}" class="btn-main">History</a>
    <a href="{% url 'logout' %}" class="btn-main">Logout</a>
    <a href="{% url 'profile_settings' %}" class="btn-main">Change Setting</a>
</div>

    <div class="play-button-wrapper">
    <a href="{% url 'play' %}" class="btn-play">Play Game</a>
</div>
</section>
{% endblock %}