{% extends "game/base.html" %}

{% block title %}Leaderboard | ArtGuessr{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

<section class="leaderboard-card">
    <h2 class="leaderboard-title">Leaderboard</h2>
    <p class="leaderboard-subtitle">(Average score)</p>

    <div class="leaderboard-table">
        <div class="leaderboard-head row">
            <div>Rank</div>
            <div>Username</div>
            <div>Avg Score</div>
        </div>

        <div class="row">
            <div>1.</div>
            <div>N/A</div>
            <div>N/A</div>
        </div>

        <div class="row">
            <div>2.</div>
            <div>N/A</div>
            <div>N/A</div>
        </div>

        <div class="row">
            <div>3.</div>
            <div>N/A</div>
            <div>N/A</div>
        </div>

        <div class="row">
            <div>4.</div>
            <div>N/A</div>
            <div>N/A</div>
        </div>

        <div class="row">
            <div>5.</div>
            <div>N/A</div>
            <div>N/A</div>
        </div>
    </div>

    <div class="leaderboard-button-row">
        <a href="{% url 'home' %}" class="btn-main leaderboard-home-btn">Home</a>
    </div>
</section>

{% endblock %}